.active{
  color: rgb(4, 62, 255);
}
.rem{
  margin-left: 1em;
  color: rgb(255,0,0);
}
.icon:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.icon:active{
  transform: scale(0.9);
}
.modify{
  margin-left: 1em;
}
.modify .material-symbols-outlined{
  color:rgb(131, 6, 248);
}
.modify .material-symbols-outlined:hover{
  cursor:pointer;
  transform: scale(0.9);
}