<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-6 mb-3" *ngFor="let t of allTweets">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-3 text-primary">
            {{"@"+t.email.substring(0, t.email.length-10)}}
          </h6>
          <div class="card-text">
            {{t.tweet}}
          </div>
        </div>
        <div class="card-footer" style="font-size:smaller">
          <span class="me-3 text-muted">
            Posted: {{t.created|date:'dd-MMMM-YYYY HH:mm:ss'}}
          </span>
          <span class="material-symbols-outlined" [ngClass]="{'active':check(t.likes)}">
            thumb_up_off
          </span>
          <span *ngIf="t.likes!==null ; else nolike">
            {{t.likes.length}}
          </span>
          <ng-template #nolike>
            0
          </ng-template>
          <span class="me-3"></span>
          <!--span class="material-symbols-outlined me-3 ar" (click)="gotoAddReply(t.tid, t.email)">
            reply
          </span-->
          <span class="material-symbols-outlined ar" (click)="gotoShowReply(t.tid, t.email)">
            comment
          </span>
          <span *ngIf="t.replies!==null ; else noreply">
            {{t.replies.length}}
          </span>
          <ng-template #noreply>
            0
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>